@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* { 
    font-family: 'lato', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: blue;
    text-align: center;
    line-height: 1.25;
}
p {
    line-height: 1.5;
    font-size: 17;
}
li {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.row {
    width: 100%;
    max-width: 800px;
    margin: 0% auto;
}

/* navigation bar*/

nav {
    height: 100px;
    width: 100;
    max-width: 1000;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link--list {
    display: flex;
}
.nav_link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: double;
    font-weight: 700;
}
/* navigation bar */
nav {
    min-height: 100px;
    max-width: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link--list {
    display: flex;
}
.nav_link--anchor {
    margin:  0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}
.nav_link--anchor-primary {
    background-color: blueviolet;
    padding: 8px 20px
    border-radius: 50px;
    color: white;
transition: all 300ms ease;
}

.nav_link--anchor-primary: :hover {
    background-color: #6030b1
    margin: 0 12px
    font: bold
}
.personal_logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}
/* about me */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-me_info--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-me__picture--mask {
    width: 100;
    height: 100;
    border-radius: 50%;
    overflow: hidden;
}
.about-me_picture {
    width: 100;
}